# Module imports

In [44]:
%pip install pandas matplotlib scikit-learn xgboost torch --quiet
# Install and import the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import numpy as np
import joblib
import os

# For linear regression imputation
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# For scikit-learn machine learning processes
from sklearn.model_selection import RandomizedSearchCV, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

# For XGBoost
from xgboost import XGBClassifier
os.environ['KMP_DUPLICATE_LIB_OK']='True'

# For neural networks
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

# Supress warnings
import warnings
warnings.filterwarnings('ignore')

[notice] A new release of pip is available: 23.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Loading the data

In [45]:
# Define the path to the database and the table name (from my private darts-data-tracker repo)
database_url = '../../darts-data-tracker/darts_stats.db'
game_table_name = 'darts_overall_match_stats'

In [46]:
def load_data():
    """
    Load the data from the database and return a pandas dataframe

    Returns:
        df (pd.DataFrame): A pandas dataframe containing the data from the database
    """
    conn = sqlite3.connect(database_url)
    df = pd.read_sql_query(f"SELECT * FROM {game_table_name}", conn)
    conn.close()
    return df

def convert_date_and_time(df):
    """
    Convert date and time columns into a combined datetime column, replace original columns, and sort.
    
    Args:
        df (pd.DataFrame): Input dataframe with separate date and time columns
        
    Returns:
        pd.DataFrame: Modified dataframe with combined datetime column in original date position
    """
    # Convert string dates to proper datetime objects
    df['date'] = pd.to_datetime(df['date'], format='%d %b, %Y')
    
    # Clean time values by extracting just hours:minutes
    df['time'] = df['time'].str.extract(r'(\d{2}:\d{2})', expand=False)
    
    # Merge date and time into single datetime column
    df['datetime'] = pd.to_datetime(
        df['date'].dt.strftime('%Y-%m-%d') + ' ' + df['time'],
        format='%Y-%m-%d %H:%M'
    )
    
    # Record original position of date column for later insertion
    original_column_position = df.columns.get_loc('date')
    
    # Remove obsolete columns
    df = df.drop(['date', 'time'], axis=1)
    
    # Reorganize columns to place datetime where date was originally
    column_list = df.columns.tolist()
    column_list.remove('datetime')  
    column_list.insert(original_column_position, 'datetime')  
    df = df[column_list]
    
    # Sort chronologically and reset index
    df = df.sort_values(by='datetime').reset_index(drop=True)
    
    return df

# Load the data
darts_matches = load_data()

# Apply the conversion and sorting
darts_matches = convert_date_and_time(darts_matches)

# Data Preprocessing

In [47]:
def drop_unnecessary_columns(df):
    """
    Drop unnecessary columns from the dataframe

    Args:
        df (pd.DataFrame): The dataframe to drop columns from

    Returns:
        pd.DataFrame: The dataframe with the specified columns dropped
    """
    try:
        df = df.drop(['uid', 'event_title', 'leg_count'], axis=1)
    except KeyError:
        pass
    return df

def create_dual_perspective_df(df):
    """
    Transforms match data to include both player perspectives per match.
    
    Creates two rows per match:
    1. Home team as player, away team as opponent
    2. Away team as player, home team as opponent
    
    Args:
        df (pd.DataFrame): Original dataframe with home/away columns
    
    Returns:
        pd.DataFrame: Restructured dataframe with player/opponent perspectives
    """
    
    # Create home team perspective
    home = df.rename(columns=lambda x: x.replace('home_team', 'player').replace('away_team', 'opponent'))
    
    # Create away team perspective with column swaps
    away = df.rename(columns=lambda x: x.replace('away_team', 'player').replace('home_team', 'opponent'))
    
    # Combine both perspectives
    dual_df = pd.concat([home, away], ignore_index=True)
    
    # Create target variable
    dual_df['player_won'] = (dual_df['player_legs_won'] > dual_df['opponent_legs_won']).astype(int)
    
    # Clean column order
    base_cols = ['uid', 'event_title', 'leg_count', 'datetime']
    player_cols = [c for c in dual_df if c.startswith('player')]
    opponent_cols = [c for c in dual_df if c.startswith('opponent')]
    
    df = dual_df[base_cols + player_cols + opponent_cols]
    df.sort_values(by='datetime', inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

def manage_checkout_columns(df):
    """
    Split checkouts column into attempts and successful checkouts. 
    Drop checkouts of 100+ from the dataframe.
    Handles invalid checkout formats and zero denominators.
    Organizes checkout columns at end of player/opponent sections.
    Moves target variable to end and renames it.

    Args:
        df (pd.DataFrame): The dataframe to process

    Returns:
        pd.DataFrame: Processed dataframe with organized columns
    """
    # Remove 100+ checkout columns
    df = df.drop(['player_checkouts_100_plus', 'opponent_checkouts_100_plus'], axis=1)

    def split_checkout(col):
        """Split checkout column into made/attempted with error handling"""
        result = col.str.split('/', expand=True)
        return (
            result[0].fillna('0').astype(int),  # Made
            result[1].fillna('0').astype(int)   # Attempted
        )

    # Process player checkouts
    player_made, player_attempted = split_checkout(df['player_checkouts'])
    df = df.assign(
        player_checkouts_made=player_made,
        player_checkouts_attempted=player_attempted,
        player_checkout_percentage=np.where(
            player_attempted > 0,
            player_made / player_attempted * 100,
            0.0
        )
    )

    # Process opponent checkouts
    opponent_made, opponent_attempted = split_checkout(df['opponent_checkouts'])
    df = df.assign(
        opponent_checkouts_made=opponent_made,
        opponent_checkouts_attempted=opponent_attempted,
        opponent_checkout_percentage=np.where(
            opponent_attempted > 0,
            opponent_made / opponent_attempted * 100,
            0.0
        )
    )

    # Remove original checkout columns
    df = df.drop(['player_checkouts', 'opponent_checkouts'], axis=1)
    
    # Rename target variable
    df = df.rename(columns={'player_won': 'did_player_win'})

    # Reorganize column order
    cols = df.columns.tolist()
    
    # Columns to reposition
    player_cols = ['player_checkouts_made', 'player_checkouts_attempted']
    opponent_cols = ['opponent_checkouts_made', 'opponent_checkouts_attempted']
    target_col = 'did_player_win'
    
    # Remove from current positions
    cols = [c for c in cols if c not in player_cols + opponent_cols + [target_col]]
    
    # Insert player checkout columns after player_checkout_percentage
    player_cp_idx = cols.index('player_checkout_percentage')
    cols[player_cp_idx+1:player_cp_idx+1] = player_cols
    
    # Insert opponent checkout columns after opponent_checkout_percentage
    opponent_cp_idx = cols.index('opponent_checkout_percentage')
    cols[opponent_cp_idx+1:opponent_cp_idx+1] = opponent_cols
    
    # Add target column at end
    cols.append(target_col)
    
    return df[cols]

def convert_legs_won_columns_to_int(df):
    """
    Convert legs_won columns to int

    Args:
        df (pd.DataFrame): The dataframe to convert

    Returns:
        pd.DataFrame: The converted dataframe
    """
    df['player_legs_won'] = df['player_legs_won'].astype(int)
    df['opponent_legs_won'] = df['opponent_legs_won'].astype(int)
    return df

# darts_matches = drop_unnecessary_columns(darts_matches)
darts_matches = create_dual_perspective_df(darts_matches)
darts_matches = manage_checkout_columns(darts_matches)
darts_matches = convert_legs_won_columns_to_int(darts_matches)

In [48]:
# Print columns and their types
for column in darts_matches.columns:
    print(f"{column}: {darts_matches[column].dtype}")

uid: object
event_title: object
leg_count: object
datetime: datetime64[ns]
player_name: object
player_legs_won: int64
player_average: float64
player_100_plus_thrown: int64
player_140_plus_thrown: int64
player_180_thrown: int64
player_highest_checkout: int64
player_checkout_percentage: float64
player_checkouts_made: int64
player_checkouts_attempted: int64
opponent_name: object
opponent_legs_won: int64
opponent_average: float64
opponent_100_plus_thrown: int64
opponent_140_plus_thrown: int64
opponent_180_thrown: int64
opponent_highest_checkout: int64
opponent_checkout_percentage: float64
opponent_checkouts_made: int64
opponent_checkouts_attempted: int64
did_player_win: int64

# Feature Engineering

In [49]:
def drop_opponent_columns(df):
    """
    Drop any columns that start with 'opponent_' except for 'opponent_name'.

    Args:
        df (pd.DataFrame): The dataframe from which to drop columns.

    Returns:
        pd.DataFrame: The dataframe with specified opponent columns dropped.
    """
    return df.drop(columns=[col for col in df.columns if col.startswith('opponent_') and col != 'opponent_name'])

# Preprocessing
darts_matches = drop_opponent_columns(darts_matches)

# Print the shape of the dataframe where player_checkouts_attempted is 0 but player_checkouts_made is not 0
temp_more_checkouts_than_attempts = darts_matches[
    (darts_matches['player_checkouts_attempted'] < darts_matches['player_checkouts_made'])
]
print(f'Records where checkouts are not tracked properly: {temp_more_checkouts_than_attempts.shape}')

Records where checkouts are not tracked properly: (635, 16)

In [50]:
def regression_impute_checkout_attempts(df, random_state=9):
    """
    Fixes invalid checkout attempts using regression on valid patterns
    (More appropriate than logistic regression for continuous outcomes)

    Args:
        df (pd.DataFrame): The dataframe to process
        random_state (int): The random state for reproducibility

    Returns:
        pd.DataFrame: The processed dataframe with invalid checkout attempts fixed
    """
    df = df.copy()
    
    # Identify invalid cases
    invalid_mask = (df['player_checkouts_attempted'] < df['player_checkouts_made']) | \
                   ((df['player_checkouts_attempted'] == 0) & (df['player_checkouts_made'] > 0))
    
    if not invalid_mask.any():
        print("No invalid checkout attempts found")
        return df

    # Prepare valid/invalid data splits
    valid_data = df[~invalid_mask].dropna(subset=['player_checkouts_attempted'])
    invalid_data = df[invalid_mask]
    
    if valid_data.empty or invalid_data.empty:
        return df

    # Feature engineering
    features = [
        'player_checkouts_made',
        'player_legs_won', 
        'player_average',
        'player_100_plus_thrown',
        'player_140_plus_thrown',
        'player_180_thrown',
        'player_highest_checkout',
        'did_player_win'
    ]
    
    # Regression pipeline with regularization
    model = Pipeline([
        ('scaler', StandardScaler()),
        ('regressor', Ridge(alpha=1.0))
    ])
    
    # Train on valid data
    model.fit(valid_data[features], valid_data['player_checkouts_attempted'])
    
    # Predict attempts for invalid cases
    pred_attempts = model.predict(invalid_data[features])
    pred_attempts = np.ceil(pred_attempts).astype(int)
    
    # Apply logical constraints
    min_attempts = np.where(
        invalid_data['player_checkouts_made'] > 0,
        invalid_data['player_checkouts_made'] + 1, 
        1 
    )
    final_attempts = np.maximum(pred_attempts, min_attempts)
    
    # Update dataframe
    df.loc[invalid_mask, 'player_checkouts_attempted'] = final_attempts
    
    # Final validation and cleanup
    df['player_checkout_percentage'] = np.where(
        df['player_checkouts_attempted'] > 0,
        (df['player_checkouts_made'] / df['player_checkouts_attempted']) * 100,
        0
    ).clip(0, 100).round(1)
    
    # Ensure no remaining invalid cases
    final_check = df[df['player_checkouts_attempted'] < df['player_checkouts_made']]
    if not final_check.empty:
        df.loc[final_check.index, 'player_checkouts_attempted'] = \
            final_check['player_checkouts_made'] + 1
    
    print(f"Corrected {invalid_mask.sum()} invalid rows")
    return df

darts_matches = regression_impute_checkout_attempts(darts_matches)

Corrected 635 invalid rows

In [51]:
def get_historical_matches(df, current_date, player_name):
    """
    Get all matches for a player before the current date, sorted chronologically.

    Args:
        df (pd.DataFrame): The dataframe containing match data.
        current_date (datetime): The date to filter matches before.
        player_name (str): The name of the player for whom to retrieve matches.

    Returns:
        pd.DataFrame: A dataframe containing historical matches for the specified player.
    """
    return df[
        (df['player_name'] == player_name) &
        (df['datetime'] < current_date)
    ].sort_values('datetime')

def calculate_averages(historical_df, base_features, n_windows=[6], min_matches=1):
    """
    Calculate averages ensuring no NaN propagation.

    Args:
        historical_df (pd.DataFrame): The dataframe containing historical match data.
        base_features (list): List of features for which to calculate averages.
        n_windows (list): List of window sizes for rolling averages.
        min_matches (int): Minimum number of matches required to calculate rolling averages.

    Returns:
        dict: A dictionary containing calculated averages.
    """
    stats = {}
    
    # Career averages (all available history)
    if len(historical_df) >= 1:  # Need at least 1 match
        for feat in base_features:
            stats[f'career_avg_{feat}'] = historical_df[feat].mean()
    else:
        for feat in base_features:
            stats[f'career_avg_{feat}'] = None
    
    # Rolling averages
    for n in n_windows:
        window_df = historical_df.tail(n)
        if len(window_df) >= min_matches:
            for feat in base_features:
                stats[f'rolling_{n}_avg_{feat}'] = window_df[feat].mean()
        else:
            for feat in base_features:
                stats[f'rolling_{n}_avg_{feat}'] = None
    
    return stats

def append_stats(df, base_features, n_windows=[6], min_matches=1):
    """
    Perform row-by-row calculation that never references new columns.

    Args:
        df (pd.DataFrame): The dataframe to which stats will be appended.
        base_features (list): List of features for which to calculate averages.
        n_windows (list): List of window sizes for rolling averages.
        min_matches (int): Minimum number of matches required to calculate rolling averages.

    Returns:
        pd.DataFrame: The dataframe with appended statistics.
    """
    # Create copy to avoid modifying original dataframe
    result_df = df.copy()
    
    # Pre-initialize all stat columns with None
    stat_columns = []
    for feat in base_features:
        result_df[f'career_avg_{feat}'] = None
        stat_columns.append(f'career_avg_{feat}')
    for n in n_windows:
        for feat in base_features:
            col_name = f'rolling_{n}_avg_{feat}'
            result_df[col_name] = None
            stat_columns.append(col_name)
    
    # Process each row
    total = len(result_df)
    for idx, row in result_df.iterrows():
        # Get historical data using ORIGINAL dataframe
        historical = get_historical_matches(
            df,  # Use original DF without any stat columns
            row['datetime'],
            row['player_name']
        )
        
        # Calculate stats
        stats = calculate_averages(historical, base_features, n_windows, min_matches)
        
        # Update only the stat columns in result_df
        for col in stat_columns:
            result_df.at[idx, col] = stats.get(col, None)
        
        # Progress tracking
        if idx % 10 == 0:
            print(f'\rProcessed {idx+1}/{total} rows...', end=' ')
    return result_df

# Legs won is not included as it could be deceptive given match formats with different numbers of legs
BASE_FEATURES = [
    'player_average', 'player_100_plus_thrown',
    'player_140_plus_thrown', 'player_180_thrown', 'player_highest_checkout',
    'player_checkout_percentage', 'player_checkouts_made', 'player_checkouts_attempted'
]

# Apply the calculation
darts_matches = append_stats(
    df=darts_matches,
    base_features=BASE_FEATURES,
    n_windows=[6], 
    min_matches=1   
)

# Print columns after processing
print("\nColumns after processing:", darts_matches.columns.tolist())

Processed 4551/4556 rows...
Columns after processing: ['uid', 'event_title', 'leg_count', 'datetime', 'player_name', 'player_legs_won', 'player_average', 'player_100_plus_thrown', 'player_140_plus_thrown', 'player_180_thrown', 'player_highest_checkout', 'player_checkout_percentage', 'player_checkouts_made', 'player_checkouts_attempted', 'opponent_name', 'did_player_win', 'career_avg_player_average', 'career_avg_player_100_plus_thrown', 'career_avg_player_140_plus_thrown', 'career_avg_player_180_thrown', 'career_avg_player_highest_checkout', 'career_avg_player_checkout_percentage', 'career_avg_player_checkouts_made', 'career_avg_player_checkouts_attempted', 'rolling_6_avg_player_average', 'rolling_6_avg_player_100_plus_thrown', 'rolling_6_avg_player_140_plus_thrown', 'rolling_6_avg_player_180_thrown', 'rolling_6_avg_player_highest_checkout', 'rolling_6_avg_player_checkout_percentage', 'rolling_6_avg_player_checkouts_made', 'rolling_6_avg_player_checkouts_attempted']

In [52]:
def add_h2h_record(df):
    """
    Adds historical head-to-head (H2H) records between players based on previous matches.
    Operates on the dual perspective dataframe to maintain match symmetry.
    
    Args:
        df (pd.DataFrame): Dual perspective dataframe with 'player_name', 'opponent_name', 
                          'did_player_win', and 'datetime' columns
                          
    Returns:
        pd.DataFrame: Original dataframe with added 'previous_h2h_wins' and 'previous_h2h_losses' columns
    """
    
    # Create working copy to preserve original data
    temp_df = df.copy()
    
    # Sort matches chronologically for accurate cumulative counts
    temp_df = temp_df.sort_values('datetime').reset_index(drop=True)
    
    # Track original index for final reordering
    temp_df['original_index'] = temp_df.index
    
    # Calculate cumulative match counts and wins for each player-opponent pair
    temp_df['cum_matches'] = temp_df.groupby(['player_name', 'opponent_name']).cumcount() + 1
    temp_df['cum_wins'] = temp_df.groupby(['player_name', 'opponent_name'])['did_player_win'].cumsum()
    
    # Shift results to exclude current match from H2H counts
    temp_df['previous_h2h_wins'] = temp_df.groupby(['player_name', 'opponent_name'])['cum_wins'].shift(1).fillna(0).astype(int)
    temp_df['previous_h2h_losses'] = (
        temp_df.groupby(['player_name', 'opponent_name'])['cum_matches'].shift(1).fillna(0) 
        - temp_df['previous_h2h_wins']
    ).astype(int)
    
    # Clean up temporary columns
    temp_df = temp_df.drop(['cum_matches', 'cum_wins', 'original_index'], axis=1)

    # Calculate the difference between wins and losses
    temp_df['previous_h2h_differential'] = temp_df['previous_h2h_wins'] - temp_df['previous_h2h_losses']
    
    # Reorder to match original input sequence
    return temp_df.sort_index()

darts_matches = add_h2h_record(darts_matches)

# Preparing model input format

In [53]:
# Rename the 'leg_count' column to 'is_set_play'
darts_matches = darts_matches.rename(columns={'leg_count': 'is_set_play'})

# Update 'is_set_play' to 1 if the string contains 'set' (case-insensitive), 0 otherwise
try:
    darts_matches['is_set_play'] = darts_matches['is_set_play'].str.contains('set', case=False, na=False).astype(int)
except:
    pass

with pd.option_context('display.max_columns', None):
    display(darts_matches)

,uid,event_title,is_set_play,datetime,player_name,player_legs_won,player_average,player_100_plus_thrown,player_140_plus_thrown,player_180_thrown,player_highest_checkout,player_checkout_percentage,player_checkouts_made,player_checkouts_attempted,opponent_name,did_player_win,career_avg_player_average,career_avg_player_100_plus_thrown,career_avg_player_140_plus_thrown,career_avg_player_180_thrown,career_avg_player_highest_checkout,career_avg_player_checkout_percentage,career_avg_player_checkouts_made,career_avg_player_checkouts_attempted,rolling_6_avg_player_average,rolling_6_avg_player_100_plus_thrown,rolling_6_avg_player_140_plus_thrown,rolling_6_avg_player_180_thrown,rolling_6_avg_player_highest_checkout,rolling_6_avg_player_checkout_percentage,rolling_6_avg_player_checkouts_made,rolling_6_avg_player_checkouts_attempted,previous_h2h_wins,previous_h2h_losses,previous_h2h_differential
0,17_Jan_2024_16:10_GMT+0000_Peter_Wright_Haruki...,International | Bahrain Darts Masters 2024,0,2024-01-17 16:10:00,Peter Wright,6,91.69,17,8,1,40,46.2,6,13,Haruki Muramatsu,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0
1,17_Jan_2024_16:10_GMT+0000_Peter_Wright_Haruki...,International | Bahrain Darts Masters 2024,0,2024-01-17 16:10:00,Haruki Muramatsu,5,87.11,15,4,2,170,35.7,5,14,Peter Wright,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0
2,17_Jan_2024_16:50_GMT+0000_Gerwyn_Price_Reynal...,International | Bahrain Darts Masters 2024,0,2024-01-17 16:50:00,Gerwyn Price,6,92.13,8,7,3,93,28.6,6,21,Reynaldo Rivera,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0
3,17_Jan_2024_16:50_GMT+0000_Gerwyn_Price_Reynal...,International | Bahrain Darts Masters 2024,0,2024-01-17 16:50:00,Reynaldo Rivera,4,94.86,16,11,0,104,33.3,4,12,Gerwyn Price,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0
4,17_Jan_2024_17:30_GMT+0000_Nathan_Aspinall_Lou...,International | Bahrain Darts Masters 2024,0,2024-01-17 17:30:00,Nathan Aspinall,6,97.20,14,8,2,102,28.6,6,21,Lourence Ilagan,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4551,16_Jan_2025_18:10_GMT+0000_Luke_Humphries_Step...,International | Bahrain Darts Masters 2025,0,2025-01-16 18:10:00,Luke Humphries,6,94.76,19,6,5,123,50.0,6,12,Stephen Bunting,0,99.200132,12.822368,8.098684,3.690789,107.638158,45.143421,6.460526,15.289474,99.405,19.333333,10.333333,3.5,143.833333,53.8,8.833333,18.833333,4,3,1
4552,16_Jan_2025_18:50_GMT+0000_Gerwyn_Price_Peter_...,International | Bahrain Darts Masters 2025,0,2025-01-16 18:50:00,Peter Wright,4,91.15,16,6,4,36,18.2,4,22,Gerwyn Price,0,93.277788,13.625,7.144231,2.375,90.048077,41.086538,4.884615,12.653846,93.261667,23.166667,11.666667,4.5,113.5,45.0,9.833333,22.5,2,4,-2
4553,16_Jan_2025_18:50_GMT+0000_Gerwyn_Price_Peter_...,International | Bahrain Darts Masters 2025,0,2025-01-16 18:50:00,Gerwyn Price,7,92.58,13,4,3,124,38.9,7,18,Peter Wright,1,97.705859,12.272727,7.070707,3.242424,98.777778,42.687879,5.616162,14.717172,96.155,24.166667,11.5,6.166667,112.833333,37.433333,11.166667,33.666667,4,2,2
4554,16_Jan_2025_19:30_GMT+0000_Stephen_Bunting_Ger...,International | Bahrain Darts Masters 2025,0,2025-01-16 19:30:00,Stephen Bunting,8,99.33,13,8,5,85,47.1,8,17,Gerwyn Price,1,97.212959,13.357143,8.622449,3.377551,101.612245,43.832653,5.918367,14.336735,99.888333,19.833333,13.833333,4.833333,111.0,51.0,9.833333,21.833333,1,2,-1
4555,16_Jan_2025_19:30_GMT+0000_Stephen_Bunting_Ger...,International | Bahrain Darts Masters 2025,0,2025-01-16 19:30:00,Gerwyn Price,4,96.64,9,6,5,85,30.8,4,13,Stephen Bunting,0,97.6546,12.28,7.04,3.24,99.03,42.65,5.63,14.75,96.365,23.333333,10.666667,6.5,114.833333,37.4,10.833333,32.833333,2,1,1

In [54]:
def get_opponent_match_stats(row):
    """
    Get the opponent match stats from the row

    Args:
        row (pd.Series): The row to get the opponent match stats from

    Returns:
        pd.DataFrame: The opponent match stats
    """
    match_uid = row['uid']
    opponent_name = row['opponent_name']

    opponent_match_stats = darts_matches[
        (darts_matches['uid'] == match_uid) &
        (darts_matches['player_name'] == opponent_name)
    ]

    if opponent_match_stats.empty:
        print(f'Warning: No opponent stats found for {opponent_name} in match {match_uid}')
        return None
    
    if len(opponent_match_stats) > 1:
        print(f'Warning: Multiple rows found for {opponent_name} in match {match_uid}, using first')
    
    return opponent_match_stats.iloc[[0]] 

def append_opponent_match_stats(df):
    """
    Append the opponent match stats to the dataframe

    Args:
        df (pd.DataFrame): The dataframe to append the opponent match stats to

    Returns:
        pd.DataFrame: The dataframe with the opponent match stats appended
    """
    # Pre-identify columns to rename to avoid processing multiple times
    career_cols = [col for col in df.columns if col.startswith('career_avg_')]
    rolling_cols = [col for col in df.columns if col.startswith('rolling_')]
    all_opponent_cols = [f'opponent_{col}' for col in career_cols + rolling_cols]
    
    # Ensure all opponent columns exist in the dataframe with float type to prevent type issues
    for col in all_opponent_cols:
        if col not in df:
            df[col] = np.nan  # Initialize with NaN float
    
    total_rows = df.shape[0]
    for index, row in df.iterrows():
        opponent_match_stats = get_opponent_match_stats(row)
        if opponent_match_stats is None:
            continue
        
        # Extract the single row as a Series
        opponent_stats = opponent_match_stats.iloc[0]
        
        # Iterate over predefined opponent columns to ensure consistency
        for orig_col in career_cols + rolling_cols:
            opponent_col = f'opponent_{orig_col}'
            value = opponent_stats.get(orig_col)
            if value is not None:
                # Ensure the value is a float to prevent dtype issues
                try:
                    df.at[index, opponent_col] = float(value)
                except (TypeError, ValueError) as e:
                    print(f"Error setting {opponent_col} for row {index}: {e}")
                    df.at[index, opponent_col] = np.nan
        
        print(f'Processing row {index + 1}/{total_rows}', end='\r')
    
    print()
    return df

darts_matches = append_opponent_match_stats(darts_matches)

Processing row 4556/4556

In [55]:
def reorganise_columns(df):
    """Reorganises the dataframe columns into logical groups while preserving order within categories.
    
    Args:
        df (pd.DataFrame): The dataframe to be reorganised.
        
    Returns:
        pd.DataFrame: The dataframe with columns reorganised.
    """
    # Get current column list
    all_columns = df.columns.tolist()
    
    # Move 'opponent_name' to come directly after 'player_name'
    if 'opponent_name' in all_columns:
        # Remove opponent_name from its current position
        all_columns.remove('opponent_name')
        # Find player_name's index
        player_idx = all_columns.index('player_name')
        # Insert opponent_name right after player_name
        all_columns.insert(player_idx + 1, 'opponent_name')
    
    # 1. Preserve columns up to opponent_name (now after player_name)
    opponent_idx = all_columns.index('opponent_name')
    fixed_columns = all_columns[:opponent_idx + 1]  # Includes up to opponent_name

    #2. Collect player match cols (preserve original order)
    player_match_cols = [c for c in all_columns if c.startswith('player_') and c != 'player_name']
    
    # 3. Collect career averages (preserve original order)
    career_cols = [c for c in all_columns if c.startswith('career_avg_')]
    
    # 4. Collect rolling averages (preserve original order)
    rolling_cols = [c for c in all_columns if c.startswith('rolling_')]
    
    # 5. Collect H2H columns
    h2h_cols = [c for c in all_columns if c.startswith('previous_h2h')]
    
    # 6. Collect opponent match stats columns
    opponent_cols = [c for c in all_columns if c.startswith('opponent_') and c != 'opponent_name']
    
    # 7. Final columns (did_player_win and any remaining)
    final_cols = ['did_player_win'] + \
                 [c for c in all_columns if c not in fixed_columns + player_match_cols + career_cols + rolling_cols + opponent_cols + h2h_cols + ['did_player_win']]

    # Combine all sections
    new_order = fixed_columns + player_match_cols + career_cols + rolling_cols + opponent_cols + h2h_cols + final_cols
    
    return df[new_order]

# Apply reorganisation
darts_matches = reorganise_columns(darts_matches)

# Verify new order
print(darts_matches.columns.tolist())

['uid', 'event_title', 'is_set_play', 'datetime', 'player_name', 'opponent_name', 'player_legs_won', 'player_average', 'player_100_plus_thrown', 'player_140_plus_thrown', 'player_180_thrown', 'player_highest_checkout', 'player_checkout_percentage', 'player_checkouts_made', 'player_checkouts_attempted', 'career_avg_player_average', 'career_avg_player_100_plus_thrown', 'career_avg_player_140_plus_thrown', 'career_avg_player_180_thrown', 'career_avg_player_highest_checkout', 'career_avg_player_checkout_percentage', 'career_avg_player_checkouts_made', 'career_avg_player_checkouts_attempted', 'rolling_6_avg_player_average', 'rolling_6_avg_player_100_plus_thrown', 'rolling_6_avg_player_140_plus_thrown', 'rolling_6_avg_player_180_thrown', 'rolling_6_avg_player_highest_checkout', 'rolling_6_avg_player_checkout_percentage', 'rolling_6_avg_player_checkouts_made', 'rolling_6_avg_player_checkouts_attempted', 'opponent_career_avg_player_average', 'opponent_career_avg_player_100_plus_thrown', 'opponent_career_avg_player_140_plus_thrown', 'opponent_career_avg_player_180_thrown', 'opponent_career_avg_player_highest_checkout', 'opponent_career_avg_player_checkout_percentage', 'opponent_career_avg_player_checkouts_made', 'opponent_career_avg_player_checkouts_attempted', 'opponent_rolling_6_avg_player_average', 'opponent_rolling_6_avg_player_100_plus_thrown', 'opponent_rolling_6_avg_player_140_plus_thrown', 'opponent_rolling_6_avg_player_180_thrown', 'opponent_rolling_6_avg_player_highest_checkout', 'opponent_rolling_6_avg_player_checkout_percentage', 'opponent_rolling_6_avg_player_checkouts_made', 'opponent_rolling_6_avg_player_checkouts_attempted', 'previous_h2h_wins', 'previous_h2h_losses', 'previous_h2h_differential', 'did_player_win']

In [56]:
# Specify here any tournaments to keep from the model. For example, I am going to be using
# the 2025 PDC World Championship as an evaluation set to compare to my ELO model, so I will keep only
# the 2025 PDC World Championship matches from the model.

KEEP_TOURNAMENTS = ['International | PDC World Championship 2025']

def keep_tournaments(df, tournaments_to_keep):
    """
    Keep the tournaments from the dataframe

    Args:
        df (pd.DataFrame): The dataframe to drop the tournaments from
        tournaments_to_drop (list): The tournaments to drop

    Returns:
        pd.DataFrame: The dataframe with the tournaments dropped
    """
    try:
        return df[df['event_title'].isin(tournaments_to_keep)]
    except Exception as e:
        print(f'Error dropping tournaments: {e}')
        return df

darts_matches = keep_tournaments(darts_matches, KEEP_TOURNAMENTS)

In [57]:
def drop_unnecessary_model_columns(df):
    """
    Drop unnecessary columns for the model

    Args:
        df (pd.DataFrame): The dataframe to drop the columns from

    Returns:
        pd.DataFrame: The dataframe with the unnecessary columns dropped
    """
    # Drop uid, event_title, datetime, opponent_name and all columns beginning with 'player_
    player_column_names = [col for col in df.columns if col.startswith('player_')]
    try:
        return df.drop(['uid', 'event_title', 'datetime', 'opponent_name'] + player_column_names, axis=1)
    except Exception as e:
        print(f'Error dropping columns: {e}')
        return df

def convert_dtypes(df):
    """
    Convert object columns to numeric types where possible.
    
    Args:
        df (pd.DataFrame): The dataframe to convert the dtypes of

    Returns:
        pd.DataFrame: The dataframe with the dtypes converted
    """
    for col in df.columns:
        if df[col].dtype == object:
            # Attempt conversion to numeric
            try:
                # First try converting directly to float
                df[col] = pd.to_numeric(df[col], errors='raise')
                
                # Check if all values are integers
                if (df[col].dropna() % 1 == 0).all():
                    df[col] = df[col].astype('Int64')
                else:
                    df[col] = df[col].astype(float)
            except (ValueError, TypeError):
                # Leave as object if conversion fails
                pass
    return df

evaluation_set = drop_unnecessary_model_columns(darts_matches)
evaluation_set = convert_dtypes(evaluation_set)

with pd.option_context('display.max_rows', None):
    display(evaluation_set)

# Print df shape
print(f'DataFrame shape: {evaluation_set.shape}')

# Print the darts_matches dataframe
display(darts_matches.head(1))

,is_set_play,career_avg_player_average,career_avg_player_100_plus_thrown,career_avg_player_140_plus_thrown,career_avg_player_180_thrown,career_avg_player_highest_checkout,career_avg_player_checkout_percentage,career_avg_player_checkouts_made,career_avg_player_checkouts_attempted,rolling_6_avg_player_average,...,opponent_rolling_6_avg_player_140_plus_thrown,opponent_rolling_6_avg_player_180_thrown,opponent_rolling_6_avg_player_highest_checkout,opponent_rolling_6_avg_player_checkout_percentage,opponent_rolling_6_avg_player_checkouts_made,opponent_rolling_6_avg_player_checkouts_attempted,previous_h2h_wins,previous_h2h_losses,previous_h2h_differential,did_player_win
4338,1,70.110000,6.000000,2.000000,1.000000,40.000000,12.500000,1.000000,8.000000,70.110000,...,6.166667,1.333333,66.833333,38.933333,4.000000,10.166667,0,0,0,0
4339,1,89.392000,12.800000,6.150000,1.050000,81.550000,36.190000,4.250000,12.000000,90.415000,...,2.000000,1.000000,40.000000,12.500000,1.000000,8.000000,0,0,0,1
4340,1,88.281000,12.000000,6.500000,1.300000,104.300000,33.210000,4.000000,10.800000,87.771667,...,7.666667,3.333333,108.833333,44.916667,5.666667,14.333333,0,0,0,0
4341,1,94.374583,12.375000,6.250000,2.520833,98.604167,39.860417,5.208333,14.041667,94.075000,...,7.000000,1.333333,120.333333,37.483333,4.166667,11.000000,0,0,0,1
4342,1,89.327917,10.958333,5.916667,1.333333,77.250000,30.354167,3.500000,10.958333,90.018333,...,4.500000,2.166667,89.833333,39.416667,4.333333,11.000000,0,0,0,1
4343,1,92.886364,10.636364,5.681818,2.045455,89.636364,39.800000,4.818182,12.727273,87.958333,...,6.333333,0.833333,79.666667,28.866667,2.500000,6.833333,0,0,0,0
4344,1,88.973810,13.142857,6.380952,1.095238,83.285714,35.880952,4.571429,13.190476,87.808333,...,11.000000,4.166667,96.333333,40.800000,9.000000,24.333333,0,0,0,0
4345,1,99.222313,12.632653,8.061224,3.700680,106.013605,44.770748,6.394558,15.217687,97.796667,...,6.500000,1.500000,73.000000,35.550000,5.000000,14.666667,0,0,0,1
4346,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.166667,1.833333,86.666667,40.483333,5.000000,11.500000,0,0,0,0
4347,1,94.452500,12.250000,6.500000,2.333333,106.916667,41.637500,5.500000,13.125000,90.861667,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4348,1,93.655682,11.500000,6.113636,2.886364,98.909091,41.338636,5.250000,12.954545,93.656667,...,6.250000,1.500000,82.250000,37.900000,3.000000,10.000000,0,0,0,1
4349,1,88.815000,10.000000,6.250000,1.500000,82.250000,37.900000,3.000000,10.000000,88.815000,...,7.333333,3.000000,116.166667,44.450000,6.833333,15.333333,0,0,0,0
4350,1,92.856000,9.933333,6.066667,3.100000,86.800000,36.160000,4.833333,13.266667,88.541667,...,5.166667,2.333333,98.500000,45.066667,4.000000,10.666667,0,0,0,0
4351,1,92.100000,10.428571,5.142857,2.714286,96.000000,42.200000,3.714286,10.285714,90.413333,...,6.500000,1.833333,60.333333,26.533333,3.166667,11.000000,0,0,0,1
4352,1,94.459592,12.469388,6.285714,2.510204,98.530612,39.965306,5.285714,14.163265,94.506667,...,8.000000,2.333333,103.166667,33.366667,4.833333,14.166667,0,1,-1,1
4353,1,94.462778,14.833333,7.444444,2.263889,97.208333,42.344444,5.333333,13.236111,92.110000,...,7.666667,3.500000,100.000000,42.000000,6.333333,16.333333,1,0,1,0
4354,1,92.144348,11.478261,7.217391,2.217391,92.173913,36.917391,4.782609,13.391304,93.523333,...,6.500000,2.166667,66.500000,26.200000,2.333333,7.666667,1,0,1,0
4355,1,93.716429,10.642857,6.500000,2.214286,77.428571,32.935714,3.642857,10.642857,92.966667,...,8.833333,2.166667,101.833333,38.233333,5.666667,16.166667,0,1,-1,1
4356,1,94.294091,10.636364,6.272727,3.045455,84.727273,34.395455,4.727273,13.363636,92.635000,...,6.000000,2.000000,20.000000,17.600000,3.000000,17.000000,0,0,0,1
4357,1,82.830000,10.000000,6.000000,2.000000,20.000000,17.600000,3.000000,17.000000,82.830000,...,8.166667,3.333333,66.000000,28.350000,5.500000,17.000000,0,0,0,0
4358,1,88.628000,9.000000,4.600000,2.400000,65.800000,33.540000,4.400000,13.600000,88.628000,...,8.500000,3.500000,72.500000,32.450000,6.833333,19.666667,0,0,0,1
4359,1,97.190943,11.226415,6.773585,3.169811,91.207547,39.800000,5.207547,13.396226,90.783333,...,4.600000,2.400000,65.800000,33.540000,4.400000,13.600000,0,0,0,0
4360,1,89.553600,11.560000,6.000000,1.560000,78.640000,31.140000,3.800000,11.400000,90.728333,...,6.166667,2.500000,87.333333,48.666667,5.000000,11.000000,0,0,0,0
4361,1,97.805914,11.505376,6.784946,3.053763,97.870968,43.026882,5.258065,13.494624,96.928333,...,6.333333,2.000000,81.333333,30.950000,3.833333,9.166667,0,0,0,1
4362,1,91.867778,11.000000,5.888889,2.666667,86.833333,44.727778,4.444444,12.111111,93.271667,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4363,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.500000,2.500000,74.833333,48.816667,3.666667,9.500000,0,0,0,0
4364,1,91.767419,10.516129,5.741935,2.741935,84.516129,34.725806,4.645161,13.645161,94.306667,...,3.750000,1.750000,50.000000,21.600000,1.750000,7.250000,0,0,0,1
4365,1,83.020000,5.500000,3.750000,1.750000,50.000000,21.600000,1.750000,7.250000,83.020000,...,5.166667,3.000000,83.500000,36.433333,4.666667,14.333333,0,0,0,0
4366,1,93.869302,13.465116,6.953488,1.930233,100.883721,45.586047,5.348837,12.046512,93.136667,...,5.500000,0.500000,109.000000,33.950000,4.500000,15.500000,0,0,0,1
4367,1,93.425000,16.500000,5.500000,0.500000,109.000000,33.950000,4.500000,15.500000,93.425000,...,8.333333,2.166667,92.166667,53.333333,5.666667,11.500000,0,0,0,0
4368,1,95.926471,11.450980,6.666667,3.784314,113.647059,41.568627,5.921569,14.960784,98.618333,...,7.666667,3.166667,114.000000,46.000000,7.500000,16.333333,0,1,-1,0
4369,1,93.671778,11.444444,6.155556,2.911111,99.266667,41.420000,5.333333,13.111111,93.955000,...,6.833333,4.333333,112.833333,43.833333,6.500000,17.833333,1,0,1,1
4370,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.500000,2.666667,111.000000,39.350000,5.500000,14.333333,0,0,0,0
4371,1,91.392857,11.952381,6.142857,2.190476,91.095238,43.395238,4.619048,11.857143,91.238333,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4372,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.166667,2.166667,109.333333,41.150000,6.666667,16.166667,0,0,0,0
4373,1,90.983659,13.487805,6.682927,1.609756,98.024390,39.814634,4.951220,12.804878,95.535000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4374,1,89.819167,10.666667,5.666667,2.000000,98.833333,37.100000,3.916667,11.750000,91.341667,...,4.333333,1.000000,80.666667,42.633333,4.000000,13.666667,0,0,0,1
4375,1,80.700000,9.000000,4.333333,1.000000,80.666667,42.633333,4.000000,13.666667,80.700000,...,5.333333,2.333333,109.666667,41.866667,4.333333,11.666667,0,0,0,0
4376,1,93.278776,13.040816,6.867347,2.244898,88.612245,40.846939,4.581633,12.051020,87.206667,...,5.333333,2.166667,84.000000,35.783333,5.500000,15.500000,0,1,-1,1
4377,1,93.976800,12.800000,6.440000,2.360000,106.560000,41.128000,5.720000,14.120000,89.248333,...,4.666667,0.666667,79.000000,39.966667,2.666667,7.000000,1,0,1,0
4378,1,88.050000,16.000000,5.000000,3.000000,118.000000,31.200000,5.000000,16.000000,88.050000,...,7.166667,0.833333,68.833333,46.500000,3.833333,8.500000,0,0,0,1
4379,1,94.813333,11.055556,6.888889,1.333333,85.500000,46.105556,4.055556,9.333333,95.568333,...,5.000000,3.000000,118.000000,31.200000,5.000000,16.000000,0,0,0,0
4380,1,90.004000,10.400000,4.480000,1.040000,91.680000,43.620000,4.600000,12.040000,88.213333,...,7.333333,1.333333,71.333333,31.950000,4.000000,13.333333,0,0,0,1
4381,1,89.673333,11.500000,7.333333,1.333333,71.333333,31.950000,4.000000,13.333333,89.673333,...,4.333333,1.500000,84.833333,38.266667,4.333333,12.833333,0,0,0,0
4382,1,91.626500,12.350000,5.950000,2.250000,90.750000,32.700000,4.850000,14.900000,91.728333,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4383,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.333333,2.166667,85.000000,27.800000,3.166667,10.666667,0,0,0,0
4384,1,87.683333,10.666667,5.166667,2.833333,77.833333,33.683333,5.500000,16.666667,87.683333,...,5.333333,2.666667,58.166667,45.733333,3.500000,10.833333,0,0,0,0
4385,1,94.916463,11.841463,7.268293,2.500000,91.329268,38.760976,5.024390,14.036585,94.190000,...,5.166667,2.833333,77.833333,33.683333,5.500000,16.666667,0,0,0,1
4386,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.000000,2.666667,65.666667,40.900000,3.666667,9.833333,0,0,0,1
4387,1,89.610833,12.250000,6.166667,1.750000,73.166667,37.508333,3.833333,10.666667,91.190000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4388,1,91.174737,9.710526,3.657895,2.473684,79.394737,36.747368,4.052632,10.868421,89.898333,...,4.000000,1.000000,84.666667,35.366667,3.000000,8.333333,0,0,0,1
4389,1,86.796667,12.000000,4.000000,1.000000,84.666667,35.366667,3.000000,8.333333,86.796667,...,3.833333,2.166667,97.166667,33.516667,3.500000,11.000000,0,0,0,0
4390,1,92.571000,13.733333,6.266667,2.466667,92.066667,44.323333,5.866667,13.966667,95.540000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4391,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.000000,4.666667,111.833333,47.633333,9.000000,20.000000,0,0,0,0
4392,1,94.531800,10.000000,5.440000,3.120000,89.700000,36.692000,4.540000,12.300000,96.330000,...,7.000000,2.166667,80.000000,26.200000,3.333333,10.333333,0,0,0,0
4393,1,93.578000,12.266667,6.600000,2.266667,80.333333,33.240000,4.000000,11.533333,92.956667,...,4.333333,2.333333,49.666667,25.166667,2.500000,8.666667,0,0,0,1
4394,1,92.880000,10.666667,7.583333,2.333333,90.666667,46.916667,5.166667,11.666667,96.036667,...,3.750000,1.000000,86.500000,34.775000,4.500000,13.250000,0,0,0,1
4395,1,86.550000,10.750000,3.750000,1.000000,86.500000,34.775000,4.500000,13.250000,86.550000,...,8.000000,2.500000,96.666667,49.950000,4.666667,10.000000,0,0,0,0
4396,1,90.418696,10.347826,5.130435,1.695652,79.260870,36.208696,4.130435,11.260870,91.768333,...,5.000000,2.000000,81.166667,31.083333,3.166667,10.333333,0,1,-1,0
4397,1,91.565714,12.714286,5.285714,1.428571,85.071429,32.335714,4.214286,12.428571,91.668333,...,5.166667,2.333333,68.500000,39.050000,3.500000,10.000000,1,0,1,1
4398,1,89.740000,8.000000,5.000000,2.500000,80.000000,33.350000,2.500000,7.000000,89.740000,...,8.500000,2.833333,134.500000,51.066667,5.166667,12.500000,0,1,-1,0
4399,1,94.297500,11.625000,6.666667,2.916667,109.250000,48.087500,4.791667,11.541667,94.745000,...,5.000000,2.500000,80.000000,33.350000,2.500000,7.000000,1,0,1,1
4400,1,95.589350,12.113821,7.235772,3.252033,101.699187,39.435772,5.365854,14.308943,92.911667,...,6.500000,2.666667,72.666667,33.000000,5.333333,18.000000,1,0,1,0
4401,1,91.653750,10.656250,5.968750,2.750000,84.375000,34.559375,4.812500,14.281250,90.665000,...,4.666667,3.666667,71.666667,21.266667,2.833333,10.333333,0,1,-1,1
4402,1,90.219286,14.571429,5.642857,2.071429,95.642857,36.550000,4.785714,13.285714,88.091667,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4403,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.166667,2.166667,87.833333,32.216667,4.000000,12.333333,0,0,0,1
4404,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.000000,2.666667,93.500000,36.566667,3.833333,11.333333,0,0,0,0
4405,1,97.944545,10.795455,6.795455,3.340909,92.227273,40.588636,5.068182,12.727273,99.663333,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
4406,1,91.725000,11.875000,5.625000,2.750000,95.875000,41.225000,4.625000,13.000000,89.940000,...,7.833333,4.000000,108.500000,47.383333,3.833333,11.666667,0,0,0,0
4407,1,97.059556,12.633333,8.155556,3.266667,100.711111,43.394444,5.522222,13.477778,100.305000,...,5.333333,2.333333,101.000000,43.650000,4.833333,13.666667,0,0,0,1
4408,1,94.124500,15.900000,8.550000,2.400000,89.050000,40.135000,5.050000,13.450000,95.830000,...,6.000000,3.000000,96.000000,37.500000,3.000000,8.000000,0,0,0,1
4409,1,94.690000,11.000000,6.000000,3.000000,96.000000,37.500000,3.000000,8.000000,94.690000,...,12.666667,4.500000,98.500000,49.983333,8.166667,20.500000,0,0,0,0
4410,1,92.054800,11.840000,7.120000,1.960000,97.480000,41.872000,4.960000,12.840000,92.315000,...,5.000000,1.833333,78.666667,32.200000,3.833333,12.833333,0,0,0,1
4411,1,92.178333,11.916667,5.416667,2.000000,83.666667,40.508333,4.333333,11.833333,90.310000,...,7.666667,2.166667,85.666667,30.950000,4.666667,14.833333,0,0,0,0
4412,1,94.266800,11.320000,5.600000,2.120000,86.800000,35.832000,4.560000,13.120000,95.790000,...,6.166667,1.666667,64.000000,28.400000,4.333333,13.000000,0,0,0,0
4413,1,88.408000,11.000000,6.100000,1.300000,67.800000,27.680000,4.100000,13.100000,89.080000,...,5.833333,2.666667,74.833333,38.850000,4.500000,11.500000,0,0,0,1
4414,1,97.577836,12.007463,6.201493,2.828358,102.365672,44.998507,5.708955,13.723881,94.060000,...,5.833333,2.833333,87.000000,39.300000,5.000000,12.833333,0,0,0,1
4415,1,91.703684,11.105263,5.842105,2.684211,88.578947,44.631579,4.684211,12.578947,94.325000,...,5.666667,1.333333,113.666667,39.066667,4.000000,10.333333,0,0,0,0
4416,1,92.506667,11.666667,6.208333,2.000000,81.625000,38.508333,4.166667,10.916667,89.103333,...,3.166667,2.333333,96.166667,53.483333,3.500000,8.000000,0,0,0,0
4417,1,87.338000,10.800000,2.900000,2.300000,100.300000,51.560000,3.800000,9.500000,89.406667,...,4.666667,1.666667,64.000000,21.550000,3.000000,11.833333,0,0,0,1
4418,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,1.000000,97.166667,35.166667,4.500000,12.833333,0,0,0,1
4419,1,92.432692,10.807692,5.153846,1.923077,91.961538,39.753846,4.730769,12.115385,92.003333,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4420,1,92.065000,11.777778,6.777778,1.638889,88.138889,37.077778,4.416667,11.888889,84.756667,...,11.000000,0.000000,118.000000,45.800000,11.000000,24.000000,0,0,0,1
4421,1,84.400000,24.000000,11.000000,0.000000,118.000000,45.800000,11.000000,24.000000,84.400000,...,4.166667,0.666667,50.333333,28.000000,2.666667,9.166667,0,0,0,0
4422,1,78.410000,10.000000,3.000000,4.000000,72.000000,32.100000,9.000000,28.000000,78.410000,...,4.666667,3.500000,72.000000,32.566667,3.333333,9.500000,0,0,0,0
4423,1,97.753636,10.896104,6.623377,3.376623,102.662338,40.137662,5.454545,14.259740,97.058333,...,3.000000,4.000000,72.000000,32.100000,9.000000,28.000000,0,0,0,1
4424,1,95.943375,11.975000,6.562500,3.062500,95.650000,40.113750,5.050000,12.925000,96.153333,...,8.833333,2.333333,99.833333,51.816667,6.333333,13.500000,1,0,1,0
4425,1,93.848864,13.590909,7.000000,1.931818,101.454545,45.479545,5.431818,12.272727,93.056667,...,6.166667,4.500000,90.666667,43.650000,5.333333,12.833333,0,1,-1,1
4426,1,94.678194,12.652778,6.861111,2.277778,94.541667,42.988889,5.083333,12.527778,94.608333,...,8.666667,2.666667,104.833333,51.133333,5.666667,11.833333,0,0,0,0
4427,1,92.478462,11.076923,7.692308,2.384615,96.769231,47.153846,5.461538,12.153846,94.376667,...,5.500000,2.666667,95.000000,42.583333,4.500000,11.166667,0,0,0,1
4428,1,100.154384,11.773973,6.424658,4.363014,104.650685,43.726712,6.301370,15.027397,105.158333,...,6.166667,2.666667,109.833333,40.316667,6.000000,15.833333,0,0,0,1
4429,1,89.335385,11.538462,5.846154,2.076923,100.615385,37.376923,4.461538,12.923077,91.058333,...,8.833333,5.333333,127.000000,48.566667,8.333333,17.500000,0,0,0,0
4430,1,94.625652,10.652174,6.260870,3.086957,86.130435,35.343478,4.913043,13.478261,95.310000,...,9.000000,1.666667,99.333333,43.000000,5.500000,14.000000,0,0,0,0
4431,1,96.706364,12.428571,6.545455,2.844156,100.285714,45.441558,5.363636,12.298701,96.385000,...,8.333333,3.666667,79.500000,35.633333,6.666667,17.000000,0,0,0,1
4432,1,95.828514,13.027027,6.608108,2.608108,103.959459,43.079730,5.486486,13.756757,94.101667,...,6.333333,2.333333,99.166667,33.750000,5.000000,14.500000,0,0,0,1
4433,1,91.682000,13.666667,5.933333,1.600000,90.066667,32.726667,4.800000,13.866667,92.061667,...,7.166667,2.333333,89.666667,40.400000,5.833333,15.833333,0,0,0,0
4434,1,95.031607,10.392857,5.053571,3.696429,85.125000,39.417857,4.964286,14.017857,95.975000,...,5.166667,2.166667,86.500000,41.050000,5.166667,13.500000,1,0,1,0
4435,1,90.028846,10.500000,4.653846,1.192308,92.000000,43.865385,4.846154,12.423077,88.545000,...,5.166667,5.000000,96.166667,41.783333,7.500000,19.000000,0,1,-1,1
4436,1,91.380682,11.136364,5.590909,2.636364,96.909091,43.838636,5.045455,12.750000,83.505000,...,9.333333,3.666667,105.000000,38.616667,4.666667,12.333333,0,0,0,1
4437,1,97.875333,11.022222,6.977778,3.422222,93.266667,40.626667,5.200000,13.022222,100.821667,...,4.333333,1.666667,90.333333,46.233333,3.500000,10.500000,0,0,0,0
4438,1,94.434630,12.037037,5.574074,2.907407,104.018519,41.292593,5.314815,13.574074,98.048333,...,4.333333,0.666667,87.166667,35.900000,4.833333,12.000000,0,0,0,0
4439,1,91.766667,11.476190,5.476190,1.666667,92.857143,36.285714,4.952381,13.285714,90.126667,...,6.166667,3.500000,95.333333,39.283333,4.500000,11.833333,0,0,0,1
4440,1,91.582051,9.769231,3.871795,2.487179,79.512821,37.343590,4.179487,10.974359,92.070000,...,6.333333,1.833333,89.833333,36.383333,4.500000,12.166667,0,0,0,1
4441,1,95.244366,10.239437,6.633803,2.760563,91.901408,41.739437,5.042254,12.521127,94.860000,...,5.666667,2.333333,91.666667,35.183333,4.000000,11.500000,0,0,0,0
4442,1,95.851333,10.826667,7.573333,3.813333,95.746667,41.772000,5.706667,14.640000,96.925000,...,10.000000,2.000000,119.500000,33.450000,7.500000,22.000000,0,0,0,0
4443,1,87.340000,23.000000,10.000000,2.000000,119.500000,33.450000,7.500000,22.000000,87.340000,...,9.000000,4.166667,89.166667,47.166667,7.666667,17.500000,0,0,0,1
4444,1,91.434091,12.318182,6.363636,2.227273,92.227273,43.400000,4.863636,12.363636,92.303333,...,14.166667,5.333333,129.666667,47.750000,9.333333,20.000000,0,1,-1,1
4445,1,100.222769,12.815385,8.353846,4.384615,109.953846,42.681538,6.169231,15.338462,100.678333,...,8.500000,3.000000,112.833333,44.033333,6.833333,16.000000,1,0,1,0
4446,1,88.220909,12.363636,6.363636,1.545455,69.454545,27.690909,4.636364,15.181818,88.683333,...,3.333333,2.166667,86.166667,47.833333,3.833333,10.000000,0,0,0,0
4447,1,93.904688,12.453125,6.703125,3.359375,100.953125,39.637500,5.671875,15.359375,91.221667,...,6.666667,2.166667,68.333333,29.116667,5.333333,16.166667,0,0,0,1
4448,1,93.812093,11.255814,5.581395,1.953488,89.813953,36.979070,4.627907,13.418605,93.983333,...,7.000000,3.000000,146.000000,50.000000,9.000000,18.000000,0,0,0,1
4449,1,86.030000,14.000000,7.000000,3.000000,146.000000,50.000000,9.000000,18.000000,86.030000,...,4.833333,2.000000,86.666667,37.500000,4.666667,12.833333,0,0,0,0
4450,1,91.305385,11.903846,7.365385,1.961538,90.403846,38.011538,4.730769,12.846154,90.921667,...,11.500000,4.833333,108.666667,41.916667,10.000000,25.166667,0,0,0,1
4451,1,92.380323,14.064516,6.419355,2.451613,92.451613,43.803226,6.032258,14.774194,94.390000,...,9.000000,1.500000,102.333333,34.850000,4.500000,12.333333,0,0,0,0
4452,1,96.707353,11.897059,6.250000,3.044118,96.632353,41.244118,5.014706,12.705882,100.080000,...,3.666667,3.000000,90.166667,53.100000,4.666667,11.833333,0,0,0,1
4453,1,87.680000,11.090909,3.090909,2.818182,94.818182,49.690909,4.272727,11.272727,89.076667,...,6.500000,2.833333,69.500000,32.766667,3.833333,11.000000,0,0,0,0
4454,1,93.515714,16.095238,8.761905,2.333333,89.952381,40.719048,5.333333,13.809524,92.575000,...,8.833333,3.333333,89.500000,36.583333,5.333333,15.166667,0,0,0,0
4455,1,94.515811,13.581081,7.081081,2.486486,94.486486,40.139189,5.270270,13.770270,97.498333,...,13.166667,4.500000,93.166667,44.833333,9.166667,23.000000,0,0,0,1
4456,1,90.928810,13.452381,6.666667,1.666667,99.452381,40.204762,5.047619,12.880952,94.811667,...,9.666667,4.833333,123.833333,54.966667,7.333333,14.166667,0,0,0,1
4457,1,96.896349,12.888889,7.444444,2.698413,100.603175,41.882540,5.095238,12.603175,106.188333,...,9.833333,2.666667,121.666667,44.450000,7.500000,17.000000,0,0,0,0
4458,1,93.778000,12.800000,6.171429,2.314286,87.257143,43.774286,4.942857,11.942857,91.280000,...,6.333333,3.333333,86.000000,33.000000,5.500000,16.000000,1,0,1,1
4459,1,92.080769,12.038462,6.961538,2.153846,98.346154,41.934615,5.153846,13.230769,92.215000,...,4.500000,3.333333,78.000000,58.116667,4.500000,10.166667,0,1,-1,0
4460,1,91.369524,12.857143,5.952381,2.428571,91.619048,33.309524,5.095238,15.238095,90.041667,...,4.000000,2.000000,63.666667,38.816667,3.333333,8.000000,0,0,0,1

DataFrame shape: (188, 37)

,uid,event_title,is_set_play,datetime,player_name,opponent_name,player_legs_won,player_average,player_100_plus_thrown,player_140_plus_thrown,...,opponent_rolling_6_avg_player_140_plus_thrown,opponent_rolling_6_avg_player_180_thrown,opponent_rolling_6_avg_player_highest_checkout,opponent_rolling_6_avg_player_checkout_percentage,opponent_rolling_6_avg_player_checkouts_made,opponent_rolling_6_avg_player_checkouts_attempted,previous_h2h_wins,previous_h2h_losses,previous_h2h_differential,did_player_win
4338,14_Dec_2024_19:18_GMT+0000_Thibault_Tricole_Jo...,International | PDC World Championship 2025,1,2024-12-14 19:18:00,Joe Comito,Thibault Tricole,1,81.25,14,9,...,6.166667,1.333333,66.833333,38.933333,4.0,10.166667,0,0,0,0